<div id="postbox" class="loginbox">
    <h3 class="login">{{title}}<i>Posted by {{user.name}} on {{date_created}}</i></h3>
    <p class="description">{{description}}</p>
    <button id="updatebutton" class="longedit" data-post-id="{{id}}">Edit</button>
</div>

<script src="/js/updatepost.js"></script>